<!-- 侧栏部分 -->
<aside class="sidebar">
    <section class="widget">
        <h3 class="widget-hd"><strong>文章分类</strong></h3>
        <%- partial('_widget/categorys') %>
    </section>

    <% if (theme.tagcloud.enable) { %>
    <section class="widget">
        <h3 class="widget-hd"><strong>热门标签</strong></h3>
        <%- partial('_widget/tags_cloud') %>
    </section>
    <% } %>

    <% if (theme.archives.enable) { %>
    <section class="widget">
        <h3 class="widget-hd"><strong>文章归档</strong></h3>
        <%- list_archives({format: theme.archives.date_format}) %>
    </section>
    <% } %>

    <% if (theme.friends.enable && theme.friends['list']) { %>
    <!-- 友情链接 -->
    <section class="widget">
        <h3 class="widget-hd"><strong>友情链接</strong></h3>
        <%- partial('_widget/friend_links') %>
    </section>
    <% } %>
</aside>
<!-- / 侧栏部分 -->