<!-- 侧栏部分 -->
<aside class="sidebar">
    <section class="widget">
        <h3 class="widget-hd"><strong>文章分类</strong></h3>
        <%- partial('_widget/categorys') %>
    </section>

    <% if (theme.tagcloud.enable) { %>
    <section class="widget">
        <h3 class="widget-hd"><strong>热门标签</strong></h3>
        <%- partial('_widget/tags_cloud') %>
    </section>
    <% } %>

    <% if (theme.archives.enable) { %>
    <section class="widget">
        <h3 class="widget-hd"><strong>文章归档</strong></h3>
        <%- list_archives({format: theme.archives.date_format}) %>
    </section>
    <% } %>

    <% if (theme.links.enable && theme.links['list']) { %>
    <!-- 常用链接 -->
    <section class="widget">
        <h3 class="widget-hd"><strong>常用链接</strong></h3>
        <%- partial('_widget/links') %>
    </section>
    <% } %>
</aside>
<!-- / 侧栏部分 -->