<!-- 友情链接 -->
<ul class="widget-bd">
  <% for (var i in theme.friends['list']) { %>
    <li>
      <a href="<%= list[i].link %>" target="_blank" title="<%= theme.friends['list'][i].title %>"><%= theme.friends['list'][i].name %></a>
    </li>
  <% } %>
</ul>