<!-- 标签云 -->
<div class="tags-cloud">
<%- tagcloud({
	min_font: 14, 
	max_font: 30, 
	amount: 999, 
	color: true, 
	start_color: '#'+theme.tagcloud.start_color,
	end_color: '#'+theme.tagcloud.end_color
}) %>
</div>