<% if (post.categories && post.categories.length){ %>
	<div class="article-category tagcloud">
		<i class="icon icon-book"></i>
		<ul class="article-tag-list">
			<% post.categories.forEach(function(category, i){ %> 
				<li class="article-tag-list-item">
					<a href="<%=url_for(category.path) %>" class="js-tag article-tag-list-link color<%= category.name.length % 7 + 1 %>"><%-category.name%></a>
				</li>
			<% }) %>
		</ul>
	</div>
<% } %>
