<% if (theme.share.enable) { %>
  <div class="article-share clearfix text-center">
    <div class="share-area">
      <span class="share-txt">分享到：</span>
      <% for (let i in theme.share.list) { %>
      <a href="javascript:void(0);" class="share-icon <%= theme.share.list[i] %>" onclick="JELON.Utils.share('<%= theme.share.list[i] %>')"></a>
      <% } %>
    </div>
  </div>
<% } %>