<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
			<% if(config.ICP) { %>
				<a href="http://www.beian.miit.gov.cn" target="_blank"><%= config.ICP %></a>
			<% } %>
			<div class="footer-right">
				Power By <a href="http://hexo.io/" target="_blank">Hexo</a>
			</div>
    </div>
  </div>
</footer>