<div class="waifu" @mouseover="waifu.showTools=true" @mouseout="waifu.showTools=false">
  <div class="waifu-tips" v-text="waifu.tip" v-bind:style="{opacity: waifu.tipOpacity}"></div>
  <div>
    <canvas id="live2d" width="520" height="480" @mouseover="linkMouseover('waifu')" style="width: 260px;height: 240px;"></canvas>
  </div>
  <div class="waifu-tool" v-show="waifu.showTools">
    <span class="icon icon-search" @mouseover="linkMouseover('tools.search')" @click="toolsClick('tools.search')"></span>
    <span class="icon icon-eye" @mouseover="linkMouseover('tools.eye')" @click="toolsClick('tools.eye')"></span>
    <span class="icon icon-comment-o" @mouseover="linkMouseover('tools.chart')" @click="toolsClick('tools.chart')"></span>
    <span class="icon icon-camera" @mouseover="linkMouseover('tools.photo')" @click="toolsClick('tools.photo')"></span>
    <span class="icon icon-info-circle" @mouseover="linkMouseover('tools.info')" @click="toolsClick('tools.info')"></span>
    <span class="icon icon-close" @mouseover="linkMouseover('tools.close')" @click="toolsClick('tools.close')"></span>
  </div>
</div>