<div class="page-modal" id="search-panel" ref="fullTextSearch" >
  <div class="search-container">
    <a class="close js-modal-close" href="javascript:;"><i class="icon icon-close"></i></a>
    <div class="search">
      <div class="search-input-icon">
        <i class="icon icon-search"></i>
      </div>
      <div class="search-input" >
        <input placeholder="<%= __('search_all_articles') %>" type="text" v-model="fullTextSearchWords" >
      </div>
    </div>
    <div class="search-result">
      <div class="search-result-item" v-for="(item,index) in fullTextSearchItems" :key="index">
        <a v-text="item.title" :href="themeConfig.root + item.path"></a>
        <div v-html="item.content"></div>
      </div>
      <div class="more-item tip" v-show="fullTextSearch.hasMore"  @click="loadSearchResult">
        <i class="icon icon-chevron-up"></i>
      </div>
      <div class="tip" v-show="fullTextSearch.isLoading || fullTextSearch.tip" 
        v-text="fullTextSearch.tip || '正在搜索...'"></div>
    </div>
  </div>
</div>