/*!
 * 网站字体及icon
 * $CDN = hexo-config("CDN") || '//7xs305.com1.z0.glb.clouddn.com/'
 */
$CDN = (hexo-config("CDN") || './')+'fonts/'

@font-face
  font-family "HomizioNova"
  src url($CDN + 'homizio-nova/light.ttf') format('truetype'),
      url($CDN + 'homizio-nova/light.eot') format('embedded-opentype')
  font-weight normal
  font-style normal
@font-face
  font-family "HomizioNova"
  src url($CDN + 'homizio-nova/light_italic.ttf') format('truetype'),
      url($CDN + 'homizio-nova/light_italic.eot') format('embedded-opentype')
  font-weight normal
  font-style italic
@font-face
  font-family "HomizioNova"
  src url($CDN + 'homizio-nova/regular.ttf') format('truetype'),
      url($CDN + 'homizio-nova/regular.eot') format('embedded-opentype')
  font-weight bold
  font-style normal
@font-face
  font-family "HomizioNova"
  src url($CDN + 'homizio-nova/italic.ttf') format('truetype'),
      url($CDN + 'homizio-nova/italic.eot') format('embedded-opentype')
  font-weight bold
  font-style italic
@font-face
  font-family 'icomoon'
  src url('./fonts/icomoon/icomoon.eot') format('embedded-opentype'),
      url('./fonts/icomoon/icomoon.woff') format('woff'),
      url('./fonts/icomoon/icomoon.ttf') format('truetype'),
      url('./fonts/icomoon/icomoon.svg') format('svg')
  font-weight normal
  font-style normal
[class^="icon-"],[class*=" icon-"]
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale


.icon-home:before {
  content: "\e900";
}
.icon-drawer:before {
  content: "\e95c";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-search:before {
  content: "\e986";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-github:before {
  content: "\eab0";
}
