.body-wrap > article {
	position: relative;
}

.article-outer {
  perspective: 500px;
  margin: 0 30px 30px;
  position: relative;
}

.article {
  border-width: 1px;
  border-style: solid;
  border-color: #fff #ddd;
  background: adjust-color($colorBg, $alpha: -0.2);
  @extend %trans;
  img{
    max-width: 100%;
  }
}
#comments {
  margin:0 30px;
  background-color:$colorBg;
}
.article-inner h1.article-title, .article-title {
  color: #696969;
  margin-left: 0px;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 20px;
  font-size: 26px;
  transition: color 0.3s;
}

.article-header{
  border-left: 5px solid #4d4d4d;
  padding: 30px 0px 15px 25px;
  padding-left: $articlePadding;
}

.article-meta{
  position: absolute;
  right: 0;
  top: 23px;
  text-align: center;
  z-index: 1;
  time{
    color: #aaa;
    .icon-clock {
      margin-right: 8px;
      font-size: 16px;
    }
  }
}

.article-more-link{
  margin-top: 0;
  text-align: left;
  float: right;
  a{
    background-color: #4d4d4d;
    color: $colorF;
    font-size: 12px;
    padding: 5px 8px 5px;
    line-height: 16px;
    border-radius: 2px;
    transition: background-color 0.3s;
    &:hover{
      background: #3c3c3c;
    }
    &.hidden{
      visibility: hidden;
    }
  }
}
.article-info-index.article-info{
	padding-top: 20px;
	margin: 30px $articlePadding 0 $articlePadding;
  min-height: 72px;
  border-top: 1px solid #ddd;
}
.article-info-post.article-info{
	padding: 0;
	border: none;
	margin: -30px 0 20px $articlePadding;
}