body, button, input, select, textarea {
	color: #1a1a1a;
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}
body {
	overflow-y: hidden;
	background:$colorBodyBg;
}
html, body, #container {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
#mobile-nav,.js-mobile-btnctn {
	display: none;
}
#container{
	position:relative;
	min-height:100%;
  scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	background: $colorBodyBg url(http://photo.colorfulsweet.site/2019/08/29/4f8a91881d2a4.png) no-repeat;
	background-size: contain;
	background-position: right;
	overflow-scrolling: touch;
  &.show {
		overflow-y: hidden;
  }
}
body:not(.night) #container.show {
	background: linear-gradient(200deg,#5aa5c6,#a4854b);
}
.body-wrap{
  padding-top: 30px;
  margin-bottom: 80px;
}
.mid-col {
	position:absolute;
	right:0;
	min-height:100%;
	left: 300px;
  width: auto;
	&.show {
    @extend %anmLeftIn;
		.article {
			@extend %trans;
      // transition: opacity .3s ease-in, background-color .3s ease-in;
      opacity: 0.5 !important;
      pointer-events: none;
		}
	}
	&.hide {
		@extend %anmLeftOut;
	}
}