/*
* 夜间模式配色
*/
$mainBg_night: #1f2e3c; // 主背景色
$articleBg_night: #15202b; // 文章背景色
$borderColor_night: #38444d; // 边框颜色
$textColor_night: #d5d5d5; // 文字颜色

@keyframes leftIn_night {
  from {
    transform: translate(0, 0);
    background:$mainBg_night;
  }
  to {
    transform: translate(333px, 0);
    background: none;
  }
}

@keyframes leftOut_night {
  from {
    transform: translate(333px, 0);
    background: none;
  }
  to {
    transform: translate(0, 0);
    background:$mainBg_night;
  }
}

%anmLeftIn_night {
  @extend %anmCommon;
  animation-name: leftIn_night;
}

%anmLeftOut_night {
  @extend %anmCommon;
  animation-name: leftOut_night;
}

body.night {
  background: $mainBg_night;
  // 展开菜单之后的背景
  #container, #container.show {
    background-color: $mainBg_night;
  }
  // 文章区域
  .article{
    background: adjust-color($articleBg_night, $alpha: -0.2);
    border-color: $borderColor_night;
    color: $textColor_night;
    .article-title { // 主标题
      color: $colorF;
    }
    .article-entry {
      table { // 表格
        border-color: $borderColor_night;
        th,td {
          border-color: $borderColor_night;
        }
        thead tr { // 表头
          background: $mainBg_night;
        }
        tbody tr:hover { // 表格行指向
          background: lighten($mainBg_night, 10%);
        }
      }
      blockquote{ // 引用
        background: #2c2c2c;
      }
    }
    h1,h2,h3,h4,h5,h6 { // 章节标题
      color: $colorC;
      border-bottom-color: $borderColor_night;
    }
  }
  // 归档列表
  .archives-wrap {
    background: adjust-color($articleBg_night, $alpha: -0.2);
    border-bottom-color: $borderColor_night;
    .archive-article {
      border-color: $borderColor_night;
    }
    a.archive-article-title {
      color: $textColor_night;
    }
  }
  // 左侧栏
  .left-col {
    background-color: $articleBg_night;
    background-image: none !important;
  }
  #mobile-nav {
    background: none;
    .overlay {
      display: none;
    }
  }
  // 头像 看板娘 图标 -> 降低亮度滤镜
  .profilepic, .waifu, #header .header-nav .social a {
    filter: brightness(30%);
  }
  // 文章信息栏
  .article-info-index.article-info {
    border-top-color: $borderColor_night;
  }
  #footer {
    color: $textColor_night;
  }
  // 高亮关键字
  .article-entry p code, .article-entry li code {
    background: $mainBg_night;
    color: #bf7676;
  }
  // 分类列表
  .category-list li.category-list-item {
    border-color: $borderColor_night;
  }
  // 标签颜色组
  .tagcloud {
    @for $index from 1 to length($tagcolorList)+1 {
      a.color#{$index}{
        background: darken(nth($tagcolorList,$index), 25%);
        &::before{
          border-right-color: darken(nth($tagcolorList,$index), 25%);  
        }
      }
    }
  }
  // 滚动条
  ::-webkit-scrollbar {
    background-color: $articleBg_night;
  }
  .page-modal {
    background: $mainBg_night;
    color: $textColor_night;
    .close {
      color: $textColor_night;
    }
  }
  #search-panel {
    .search-input > input[type=text] {
      color: $textColor_night;
    }
    .more-item {
      background: linear-gradient(-180deg,$articleBg_night 10%,rgba(255, 255, 255, 0) 100%);
    }
  }
}