#page-nav{
	text-align: center;
	margin-top: 30px;
	.page-number{
		width: 25px;
		height: 30px;
		background: #4d4d4d;
		display: inline-block;
		color: $colorF;
		line-height: 30px;
		font-size: 14px;
		margin: 0 5px 30px;
		border-radius: 2px;
		&:hover{
			background: #5e5e5e;
		}
	}
	.current{
		background: #88acdb;
		cursor: default;
		&:hover{
			background: #88acdb;
		}
	}
	.extend{
		color: #4d4d4d;
		margin: 0 27px;
		opacity: 1;
		&:hover{
			color: #5e5e5e;
		}
	}
	.prev.disabled,.next.disabled {
		visibility: hidden;
	}
	&:hover{
		.extend{
			opacity: 1;
		}
	}
}