<!-- 独立页面 -->
<article class="post article">
    <header class="text-center">
        <h4 class="post-title"><a href="javascript: void(0);"><%- page.title %></a></h4>
    </header>
    <div class="post-content">
        <% if (page.pageid) { %>
            <%- partial('_custom/' + page.pageid, { page: page, post: page }) %>
        <% } else { %>
            <%- page.content %>
        <% } %>
    </div>
</article>